@model IEnumerable<asp_partial_2017_10_29.Models.Product>

@{
    ViewBag.Title = "Pagination";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Table</h2>

<p id="count" data-cout=@ViewBag.itemsToDisplay></p>

<table>
    <thead>
        <tr>
            <td>Info</td>
            <td>Name</td>
            <td>Price</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Info </td>
                <td>@item.Name </td>
                <td>@item.Price </td>
            </tr>
        }
    </tbody>
</table>

<div>
    @if (ViewBag.currentPage > 1)
    {
        Html.ActionLink("First", "pagination", routeValues: new { currentPage = 0, itemsToDisplay = 5 });
        @Html.ActionLink(" prev", "pagination", routeValues: new { currentPage = ViewBag.currentPage - 1, itemsToDisplay = 5 })
        <br />
    }

    @{
        int start;
        int end;
        if (ViewBag.currentPage > 5)
        {
            start = ViewBag.currentPage - 5;
            end = ViewBag.currentPage / 10 - ViewBag.currentPage % 10;
        }
        else
        {
            start = 1;
            end = 10;
        }
    }

    @for (int i = start; i <= start + 9; i++)
    {
        if (ViewBag.currentPage == i)
        {
        <b>@Html.ActionLink(i.ToString() + " ", "pagination", routeValues: new { currentPage = i, itemsToDisplay = 5 })</b>
        }
        else
        {
            @Html.ActionLink(i.ToString() + " ", "pagination", routeValues: new { currentPage = i, itemsToDisplay = 5 })
        }
    }


</div>
